# Server Configuration
SERVER_PORT=3001
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=game_site
DB_USER=your postgres user
DB_PASSWORD=your postgres password

# Cors configuration
CORS_ORIGIN=frontend origin

# JWT
JWT_SECRET=your JWT secret string
JWT_EXPIRES_IN=time-to-live for JWT